.arth_grp{
    padding-top: 30px;
}


/*  Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) { 

    .arth_grp{
        padding-top: 0px;
    }
 }

 /* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {  }

 /* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {  }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.arth_section{
		border-left: 1px solid white;
	}
}

 /* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) { 
.arth_section{
		padding-left:30px;
		border-left: 1px solid #ffffff;
	}
}